.cell{
    display: flex;
    justify-content: center;
    text-align: center;
}
.avatar{
    margin: 0 auto;
}
.infoBlock{
    display: flex;
    justify-content: space-around;
    margin-top: -15px;
}
.name{
    margin-top: -10px;
    font-size: 18px;
    font-weight: 500;
}
.iconMoon{
   position: absolute;
   top: 14px;
   left: 14px;
}
.header{
    text-align: center;
}
.logo{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
}


.placeholderContent{
    min-height: calc(85vh - 30px - 18px);
}